<table id="timesheet" class="table table-bordered">
<thead>
  <tr>
    <th style="width: 10%"> TimeLine </th>
    
     <% @workers.each do |worker|%>

      <th style="width: 10%" id="col-<%= worker.id%>"><%= worker.name%></th>
    <%end%>
   
</thead>  
<tbody>
<% if @start_time %>   
<% cnt=1 %>
<% while @end_time > @start_time %>     
<tr class="row-<%= (Time.parse(@start_time)- 30.minutes).strftime("%H-%M") %>">
      <td style="width: 10%">
        <%= @start_time %>
          <% @start_time=(Time.parse(@start_time) + 30.minutes).strftime("%H:%M %p")%>
      </td>

      
      <% @workers.each do |worker|%>
      <td  style="width: 10%" data-value="<%= worker.id %>-<%= cnt %>" class="ui-droppable contain_row" id="emp<%= worker.id%>-<%= (Time.parse(@start_time)- 30.minutes).strftime("%H-%M") %>"></td>
    <%end%>
      
</tr>
<% cnt+=1 %>
<% end %>

<%else%>

<p> Create worker </p>
<%end%>

</tr>  

</tbody>  
</table> 
<button type="button" id="addevent" class="btn btn-default">Add Events</button>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <%= simple_form_for(@appointment, html: {class: 'form-horizontal',:id => 'appointment_form' }) do |f| %>
       <% if notification = f.error_notification %>
        <div class="alert alert-error fade in">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <%= notification %>
        </div>
  <% end %>
  <div class="field">
    <%=f.hidden_field :worker_id %>
  </div>
  <div class="field">
    <%#= f.label :title %><br>
    <%= f.input :title, :hint => "add your article title here",:id => 'appointment_title' %>
  </div>
  <div class="field">
    <%#= f.label :start_time %><br>
    <%= f.input :start_time %>
  </div>
  <div class="field">
    <%#= f.label :end_time %><br>
    <%= f.input :end_time %>
  </div>
  <div class="field">
    <%#= f.label :appointment_date %><br>
    <%= f.input :appointment_date %>
  </div>
  <div class="field">
    <%#= f.label :description %><br>
    <%= f.input :description %>
  </div>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   <%= f.submit "Create Appointment", :class => "btn btn-primary" %>
   <% end %>
  </div>
</div>