<!--
<h1>Listing workers</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%# @workers.each do |worker| %>
      <tr>
        <td><%#= worker.start_time %></td>
        <td><%#= worker.end_time %></td>
        <td><%#= link_to 'Show', worker %></td>
        <td><%#= link_to 'Edit', edit_worker_path(worker) %></td>
        <td><%#= link_to 'Destroy', worker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Worker', new_worker_path %>
-->
 <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!--<button type="button" id="addevent" class="btn btn-default">Add Events</button>-->

<table id="timesheet" class="table table-bordered">
<thead>
  <tr>
    <th style="width: 10%"> TimeLine </th>
    
     <% @workers.each do |worker|%>

      <th style="width: 10%" id="col-<%= worker.id%>"><%= worker.name%></th>
    <%end%>
   
</thead>  
<tbody>   
<% while @end_time > @start_time %>     
<tr class="row-<%= (Time.parse(@start_time)- 30.minutes).strftime("%H-%M") %>">
      <td style="width: 10%">
        <%= @start_time %>
          <% @start_time=(Time.parse(@start_time) + 30.minutes).strftime("%H:%M %p")%>
      </td>


      <% @workers.each do |worker|%>
      <td  style="width: 10%"  id="emp<%= worker.id%>-<%= (Time.parse(@start_time)- 30.minutes).strftime("%H-%M") %>"></td>
    <%end%>
      
</tr>
<% end %>

</tr>  

</tbody>  
</table> 
<button type="button" id="addevent" class="btn btn-default">Add Events</button>

<style>
.event
{
background-color: yellow;
border-right:2px solid black;
border-left:2px solid black;
width:90%;
text-align:center;


}
.timeslots
{
text-align:center !important;
}

.allevents{
  position:absolute;
  background-color: #FFFFCC;
  border-radius: 3px;
  opacity:1;
  border:2px solid black;
  border-radius: 13px;

  }
td{
  boder:1px solid black;
}
</style>
<script>



$(document).ready(function()
{
 var event_index=0;
 var slotHeight=$('tbody tr').height();
renderCalendar();
function renderCalendar()
{
$.ajax({
            type: "GET",        
            url:"/workers",
            dataType: "json",
            success:function(result){
        
           
          for(i=0;i<result.length;i++)
          {
                 for(j=0;j<result[i].length;j++)
                 {
                 
                  
                  //alert('after formating '+gettime(result[i][j].end_time));
                  var timeid=gettime(result[i][j].start_time);
                  var endtime=gettime(result[i][j].end_time);
                  var s_time=parseInt(getHour(timeid));
                  var e_time=parseInt(getHour(endtime));
                  var s_mins=parseInt(getMinute(timeid));
                  var e_mins=parseInt(getMinute(endtime));

                
                 // alert('duration is '+(e_time-s_time));
                 
                 var start_time_in_min=(s_time*60)+s_mins;
                 var end_time_in_min=(e_time*60)+e_mins;
                

                 var difference=end_time_in_min-start_time_in_min;

                 var no_slot=difference/30;

             
                  var h=$('.row-'+timeid).height();
                 // $('.emp'+result[i][j].worker_id+'-'+timeid).append("<div class='event ui-draggable' style='height:"+h+"px '>"+result[i][j].title+" </div>");
                   var prev_row=$('#timesheet  .row-'+timeid).prevAll().length;
                  //alert('for eveent '+result[i][j].title+' ,count is '+ $('#timesheet  .row-'+timeid).prevAll().length);
                  var topval=(prev_row*h)+20;
                  var percolumn=(100/(result.length+1));
                  var leftval=(i+1)*percolumn;
                  var widthval=percolumn;
                  var heightval=h+(no_slot*h);




                  // alert('j is '+j+', prev is '+prev_row +', and tot is '+result.length+1+' , leftval is '+leftval);
                  $('#emp'+result[i][j].worker_id+'-'+timeid).append("<div id='"+result[i][j].id+"' class='allevents  draggable resizable ui-widget-content' style='height:"+heightval+"px;width:"+percolumn+"%;top:"+topval+"px;left:"+leftval+"%;'>colour"+result[i][j].title+"</div>");
                  

                  //$('body').append("<div id='test' class='draggable ui-widget-content' style='z-index:"+event_index+";height:"+heightval+"px;width:"+percolumn+"%;top:"+topval+"px;left:"+leftval+"%;'>colour"+result[i][j].title+"</div>");

                  event_index=event_index+1;
               
                 $( ".draggable" ).draggable({  revert: 'invalid'});
                 $( ".resizable" ).resizable();
                }

          }
           //alert(result[2][0].worker_id);
    
  }});
}
dragObj = $('#timesheet td');
$( dragObj ).droppable({
   accept: '.draggable',
   activeClass: 'ui-state-hover',
  hoverClass: 'ui-state-active',
      drop: function( event, ui ) {

       //alert('drop'+event.target.id);
       var appointment_id=$(ui.draggable).attr('id');
       var eventHeight=$(ui.draggable).height();
       var halfHeight= eventHeight/2;
       var back_rows=parseInt(halfHeight/slotHeight);




       alert('Height is '+slotHeight);
      updateEvent(getTimeFromRow(event.target.id),appointment_id);
       //$(this).html('droped here');
       /*$(clone).draggable({ containment: 'parent' });
     
       $(ui.draggable).appendTo($(this));
       $(ui.draggable).remove();
      */
     //* clone = $(ui.draggable).clone();
     //* $(ui.draggable).remove();
      //$(this).html(clone);
     
      }
    });

function updateEvent(utime,apid)
{
alert('time :'+utime+',ap id si '+apid);

}
function getHour(str)
{
         //  alert('working on '+str);
          var gothour = str.substring(0, str.lastIndexOf("-"));
         return gothour;


}
function getMinute(str)
{
         //  alert('working on '+str);
        var gotmin = str.substring( str.lastIndexOf("-")+1 ,str.length);
        return gotmin;


}
function gettime(str)
{
                  //alert('working on '+str);
                  var last = str.substring(str.lastIndexOf("T") + 1, str.length);
                  var finale = last.substring(0, last.lastIndexOf(":"));
                  var got=finale.replace(':', '-');
                  return got;
    


}
function getTimeFromRow(str)
{
var getrowtime = str.substring(str.indexOf("-") + 1, str.length);
return getrowtime;

}
$('#addevent').click(function(){
  alert('button click');
return $.update("/appointments/1" , {
    appointment: {
      title: "checking",
      start_time: "2000-01-01 11:00:00",
      end_time: "2000-01-01 13:00:00",
      description: ""
    }
  });
});

});

$(document).on('click','allevents',function()
{

$(this).css('z-index','100');
});

</script>